*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    background: #436086;
  } 
  .container {
    position: absolute;
    max-width: 800px;
    height: 600px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .rightCont {
    position: relative;
    background-image: linear-gradient(45deg, #4446d1, #160049);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .leftCont {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .leftCont header {
    color: #000988;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
  height: 100%;
  margin-right: -16px;
  } 
  .subCont {
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 
  .rightCont header {
    color: #fff;
    font-size: 44px;
  }
  .box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
  } 
  .leftCont .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }
  .leftCont .myInput:focus {
    outline: none;
  } 
  .myForm {
    position: relative;
    margin-top: 70px;
  } 
  .leftCont .butt {
    background: linear-gradient(45deg, #211685, #2d37c4);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  } 
  .leftCont .butt:hover {
    background: linear-gradient(45deg, #005ae2, #3a5eff);
  }
  .leftCont .butt:focus {
    outline: none;
  } 
  .leftCont .fas {
    position: relative;
    color: #000000;
    left: 36px;
  } 
  .butt_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  } 
  .butt_out:hover {
    border: 2px solid#eecbff;
  } 
  .butt_out:focus {
    outline: none;
  }
.register-employee{
  font-family:Arial, Helvetica, sans-serif;
  margin-top:10px;
  color: #000000;
  }
.alert{
    margin-top: 5%;
    width: 100%;
    height: 3.3em;
    text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button, /*krywanie inkrementacji wartości w polu PESEL*/
  input[type=number]::-webkit-outer-spin-button,
  input { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .g-recaptcha{
 margin-top: 1em;
 margin-left: 2.2em;
  }